body {
    font-family: 'Baloo 2', cursive;
    color: #333;
}

h2 {
    color: #ff4500;
    margin-bottom: 20px;
}

.navbar {
    background-color: #b22222 !important;
}

.carousel-item img {
    height: 500px;
    object-fit: cover;
}

footer {
    background-color: #b22222;
    color: white;
    padding: 15px 0;
}